################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ReverseString/v14
/ReverseString/bin/Debug
/ReverseString/obj/Debug
/ReverseString/Properties
